%{if length(webservers) > 0}
[webservers]

%{for host in webservers}
${host["name"]}   ansible_host=${host["network_interface"][0]["nat_ip_address"]}
%{endfor}
%{endif}

%{if length(db) > 0}
[databases]

%{for host in db}
${host["name"]}   ansible_host=${host["network_interface"][0]["nat_ip_address"]}
%{endfor}
%{endif}

%{if length(storage) > 0}
[storage]

%{endif}